<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-white">
	<!-- column -->
	<div class="col w-md lter b-l">
		<div class="vbox">
			<div class="wrapper b-b b-light">
				<div class="col-md-6">
					<div class="font-thin h4">Organizations</div>
					<small class="text-muted">organizations list</small>
				</div>
				<div class="col-md-6">
					<button class="btn btn-success pull-right"> <i class="fa fa-plus"></i> Create Organization </button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row-row">
				<div class="cell">
					<div class="cell-inner">
						<div class="wrapper-md">
							<div class="panel m-t-md">
							    <div class="row wrapper">
							        <div class="clearfix padder-lg no-padder-xs">
							            <div class="input-group pull-left col-md-8 col-xs-6">
							                <!-- <form name="searchForm" ng-submit="reload()"> -->
							                    <span class="input-group-addon input-sm no-border no-bg text-primary"><i class="icon-magnifier text-md m-t-xxs"></i></span>
							                    <input type="text" class="form-control no-border no-bg" placeholder="Search for an organization" ng-model="params.query">
							                <!-- </form> -->
							            </div>
							            <div class="pull-right col-xs-12-mobile">
							                <select name="account" ng-model="params.period" class="form-control m-b" ng-change="reload()">
							                    <option value="">Time Period</option>
							                    <option value="all-time">All Time</option>
							                    <option value="today">Today</option>
							                    <option value="week">This Week</option>
							                    <option value="month">This Month</option>
							                    <option value="three-month">Last 3 months</option>
							                    <option value="six-month">Last 6 months</option>
							                </select>
							            </div>
							        </div>
							        <div class="padder no-padder-xs">
										<div ng-show="organizations.length">
											<table class="table table-hover">
											  <thead>
												<tr>
												  <th class="bold"> Name</th>
												  <th class="bold">Address</th>
												  <th class="bold">Store Count</th>
												  <th class="bold">Status</th>
												</tr>
											  </thead>
											  <tbody>
												<tr ng-repeat="organization in organizations | filter:params.query" class="clickable" ui-sref="organization.one({id: organization.id})">
												  <td>{{organization.name}}</td>
												  <td>{{organization.address}}</td>
												  <td>{{organization.stores.length}}</td>
												  <td><badge status="{{organization.status}}"></badge></td>
												</tr>
											  </tbody>
											</table>
										</div>
										<div ng-show="!organizations.length" class="col-md-12">
											<center class="no-data" ng-hide="activeParams">
												<img src="assets/images/missing_organizations.png" alt="No Organizations">
												<h4>You haven't created any organization yet</h4>
												<p class="text-muted">Use the link below to create an organization</p>
												<button class="btn btn-success m-t-sm">Create Organization</button>
											</center>
										</div>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="padder b-t b-light text-center">
				<div class="m-xs">Footer with fluid height</div>
			</div> -->
		</div>
	</div>
	<!-- /column -->
</div>
<!-- /hbox layout -->
