<div class="hbox hbox-auto-xs bg-white">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="hbox hbox-auto-xs wrapper b-b b-light">
				<div class="col w-md">
					<div class="font-thin h4 padder-v-sm"> <i class="fa fa-arrow-left"></i> Back to organization list</div>
				</div>
				<div class="col w-md">
					<button class="btn btn-danger pull-right"> <i class="fa fa-trash-o"></i> Delete Organization </button>
				</div>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
						<div class="hbox hbox-auto-xs bg-white">
							<div class="col w-sm lter b-l">
								<div class="wrapper-md">
		                            {{organization.name}} Information Goes Here...
		                        </div>
							</div>
							<div class="col w-md lter b-l">
								<div class="vbox">
									<div class="wrapper b-b b-light">
						                <div class="font-thin h4">Stores - {{organization.stores.length || 0}}</div>
						                <small class="text-muted">{{organization.name}} stores list</small>
						            </div>
									<div class="row-row">
						                <div class="cell">
						                    <div class="cell-inner">
												<div class="wrapper-md">
						                            This is the scrollable content
						                            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
						                            You got the bottom
						                        </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <!-- <div class="padder b-t b-light text-center">
                <div class="m-xs">Footer with fluid height</div>
            </div> -->
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->
