<!-- navbar -->
<div>
<div data-ng-include=" 'templates/blocks/header.html' ">
</div>
<div class="container">
  <!-- <div class="col-md-10 col-md-offset-1"> -->
    <h1>In the beginning, there was...</h1>
    <div class="hero">
        <img src="images/beginning.png" alt="">
    </div>
  <!-- </div> -->
</div>

<div data-ng-include=" 'templates/blocks/footer.html' ">
</div>
</div>
