<div class="access-screen">
    <div class="container">
        <div class="row m-t-xxl">
            <div class="w-access center-block access-wrapper animated fadeInUp">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
