<div class="container w-xxl w-auto-xs" ng-controller="LoginCtrl" ng-init="app.settings.container = false;">
    <a href class="block text-center m-t-xxl">
        <!-- <img src="assets/img/logo.png" alt="logo" class="m-t-none"> -->
        <span class="">{{app.name}}</span>
    </a>
    <div class="m-b-lg">
        <form name="form" class="m-t-xs form-validation">
            <alert type="{{alert.type}}" close="closeAlert();" ng-show="alert">{{alert.message}}</alert>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="credentials.email" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" ng-model="credentials.password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid' ng-loading="loggedIn">Log in</button>
            <div class="line line-dashed"></div>
        </form>
    </div>
    <div class="text-center" ng-include="'components/blocks/page_footer.html'"></div>
</div>
