@brand-primary: #7266ba;
@brand-info: #23b7e5;
@brand-success: #27c24c;
@brand-warning: #fad733;
@brand-danger: #f05050;
@brand-light: #edf1f2;
@brand-dark: #3a3f51;
@brand-black: #1c2b36;
@body-bg: lighten(@brand-light, 1%);
@text-color: #58666e;
@text-muted: lighten(@text-color, 25%);
@font-family-sans-serif: "Proxima Nova",
system;
@font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-lg: ceil(@font-size-base * 1.23); // ~20px
@font-size-md: ceil(@font-size-base * 1.14); // ~16px
@font-size-sm: ceil(@font-size-base * 0.92); // ~13px
@font-size-xs: ceil(@font-size-base * 0.85); // ~12px
@link-color: darken(@text-color, 15%);
@link-hover-color: darken(@text-color, 30%);
@border-radius-base: 2px;
@border-color: darken(@brand-light, 5%);
@line-height-base: 1.42857143; // 20/14
@line-height-computed: floor(@font-size-base * @line-height-base); // ~20px
@icon-css-prefix: i;
// Buttons
// -------------------------
@btn-default-color: @text-color;
@btn-default-bg: lighten(@brand-light, 5%);
@btn-default-border: @border-color;
@btn-border-radius: @border-radius-base;
@input-border: darken(@border-color, 5%);
@input-border-focus: @brand-info;
@input-border-radius: @border-radius-base;
@panel-bg: #fff;
@panel-border: @border-color;
@panel-heading-border: lighten(@border-color, 5%);
@panel-list-group-border: lighten(@border-color, 5%);
@panel-border-radius: @border-radius-base;
@panel-heading-bg: lighten(@brand-light, 3%);
@panel-footer-bg: #fff;
@nav-bg: lighten(@brand-light, 3%);
@badge-bg: darken(@brand-light, 10%);
@list-group-item-border: lighten(@border-color, 3%);
@list-group-item-hover: lighten(@brand-light, 3%);
@list-group-item-focus: darken(@brand-light, 3%);
@list-group-select-color: #dbeef9;
@list-group-active-color: @brand-info;
@table-border-color: lighten(@border-color, 4%);
@table-striped-color: lighten(@brand-light, 4.5%);
;
@arrow-width: 8px;
@arrow-color: #fff;
@arrow-outer-width: (@arrow-width + 1);
@arrow-outer-color: rgba(0, 0, 0, .1);
@switch-width: 35px;
@switch-height: 20px;
@switch-md-width: 40px;
@switch-md-height: 24px;
@switch-lg-width: 50px;
@switch-lg-height: 30px;
@app-aside-width: 200px;
@app-aside-nav-height: 40px;
@app-aside-folded-width: 60px;
@app-aside-folded-nav-height: 50px;
@app-aside-dock-media: 992px;
@app-header-height: 50px;
@app-header-md-height: 60px;
@scroll-bar-width: 17px;
@butterbar-height: 3px;
@butterbar-time: 0.75s;
@off-screen-width: 75%;
// Screen Sizes
// -------------------------
@mobile: ~"all and (min-width: 320px) and (max-width: 640px)";
@notmobile: ~"all and (min-width: 640px)";
@tablet: ~"all and (min-width: 320px) and (max-width: 959px)";
@custom: ~"all and (min-width: 320px) and (max-width: 1280px)";
@desktop: ~"all and (min-width: 960px) and (max-width: 1199px)";
@bigscreen: ~"all and (min-width: 768px)";
