.text-bold {
	font-weight: bolder;
}
.no-data {
    width: 500px;
    max-width: 90%;
    margin: 40px auto;
    p {
        margin: 0 auto 10px;
        max-width: 300px;
    }
}

.clickable {
	cursor: pointer;
}
