<!-- list -->
<ul class="nav">
    <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Dashboard</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.home">
        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold">Sales</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.main">
        <i class="glyphicon glyphicon-th"></i>
        <span class="font-bold">Analytics</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ng-click="logout()">
        <i class="fa fa-power-off icon text-danger-dker"></i>
        <span class="font-bold">Tracking</span>
        </a>
    </li>
    <li class="line dk"></li> -->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>Management</span>
	</li>
	<li ui-sref-active="active">
        <a ui-sref="store.home">
        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold">Stores</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="organization">
        <i class="glyphicon glyphicon-th"></i>
        <span class="font-bold">Organizations</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="user.home">
        <i class="fa fa-power-off icon text-danger-dker"></i>
        <span class="font-bold">Users</span>
        </a>
    </li>
</ul>
<!-- / list -->
